.AdminUsersMap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.AdminUsersMapCell {
    display: grid;
    width: 300px;
    justify-items: center;
    margin: 5px;
    padding: 10px;
    gap: 5px;
    background-color: rgb(226, 226, 226);
}

.AdminUsersMapCell img {
    width: 60px;
    height: 60px;
}

.AdminUsersMapCell .btn {
    border-radius: 0;
}

.AdminUsersMapCell>div {
    width: 100%;
    overflow-x: auto;
}

.AdminUsersMapCellControl {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.page-controll-admin {
    grid-template-columns: auto 1fr auto;
}

.page-controll-admin input {
    padding: 2px;
    border: 2px solid #333;
}

.admin_page {
    margin: 20px;
}
.admin_page input{
    border:2px solid #333;
    padding: 5px;
}